node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/.artifacts

# Playwright
/test-results
/playwright-report
/packages/*/dist
!/packages/core/dist/
!/packages/core/dist/**
/packages/*/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.dev
.env.prod
.si-vault-restore/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

tickets/
package-lock.json
